/* User Page Banner */
#cover-photo{
    width: 100%;
    object-fit: cover;
    height: 250px;
}
#banner-shadow{
    width: 100%;
    height: 250px;
    background: linear-gradient(0deg, black -10%, transparent 70%);
    z-index: 0;
    position: absolute;

}
.user-page-banner-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.banner-left-user-info{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-bottom: 20px;
    z-index: 1;
    margin-right: 40%;
}

#banner-profile-bubble{
    height: 90px;
    width: 90px;
    border-radius: 500px;
}

#user-names{
    line-height: 5px;
}

#user-names h3{
    width: fit-content;
    margin-right: 0px;
}

.owner-name-and-controls{
    display: flex;
    align-items: center;
    gap: 25px;
    height: 50px;
}

.owner-name-and-controls button{
    background-color: rgba(0, 0, 0, 0.17);
    color: white;
    font-size: 18px;
    padding: 6px 12px;
    border: white 2px solid;
    border-radius: 4px;
    transition: background-color .40s;
}

.owner-name-and-controls h3{
    font-size: 36px;
}
.owner-name-and-controls button:hover{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    transition: background-color .40s;
}

#names-bottom{
    display: flex;
    gap: 40px;
    align-items: center;
}

.profile-edit-form{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    height: 250px;
    width: 250px;
}

/* Profile Nav Bar */
.profile-nav-bar{
    display: flex;
    background-color: white;
    padding-left: 17%;
    margin-top: 0;
    height: 50px;
    box-shadow: 1px 1px 2px 1px lightgrey;
}

.profile-nav-bar > div{
    display: flex;
    flex-flow: wrap;
    height: 92%;
    align-content: center;
    padding: 0px 20px;
}
.profile-nav-bar > div:hover{
    border-bottom: 4px solid black;
    cursor: pointer;
    transition: border-bottom .2s;
}

.active-tab{
    border-bottom: 4px solid black;
}

/* About Tab */
.about-tab-main-container{
    display: flex;
    justify-content: center;

}
#userpage-bio-box{
    display: flex;
    flex-flow: column;
    background-color: white;
    width: 70%;
    margin-top: 50px;
    padding: 10px;
    border-radius: 7px;
}
#about-me-h3{
    padding-left: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
#bio-text{
    width: 60%;
    align-self: center;
    min-height: 260px;
}

.under-edit{
    color: red;
}

#edit-bio-button:hover{
    cursor: pointer;
    color: red;
}

.edit-bio-field{
    width: 60%;
    align-self: center;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 260px;
}
.edit-bio-field textarea{
    width: 100%;
    height: 20px;
    transition: height 2s;
    font-size: 16px;

}

.edit-bio-field textarea:focus{
    height: 240px;
    transition: height 1s;
}

#bio-submit-and-count{
    display: flex;
    gap: 15px;
    align-items: center;
}

/* Album Card */
.main-album-card-container{
    display:flex;
    justify-content: center;
    gap: 10px;
    height: 100vh;
}

.album-card-container{
    width: fit-content;
    height: fit-content;
    cursor: pointer;

}

#album-cover-photo{
    height: 200px;
    width: 200px;
}

.album-card-details{
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg, black 10%, transparent 50%);
}

.album-card-details p{
    color: white;
    margin: 5px;
}

.album-card-details:hover p{
    text-decoration: underline;
}


#create-album-button:hover{
    cursor: pointer;
    text-decoration: underline;
}
#create-album-button{
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
}
#create-album-button button{
    font-family: 'Quicksand', sans-serif;
    background-color: #8000ff95;
    color: white;
    border-radius: 2px;
    padding: 5px;
    border: .5px solid grey;
    transition: background-color .2s;
    margin-top: 5px;
}
#create-album-button button:hover{
    cursor: pointer;
    /* color: black; */
    background-color: #8000FF;
    transition: background-color .2s;
    font-weight: bold;
}

/* Album card author controls */
#edit-album-button{
    width: fit-content;
    height: fit-content;
}
#edit-album-button button:hover{
    cursor: pointer;
    color: red;

}

#edit-album-button button{
    color: white;
    border: none;
    background-color: transparent;
}

.album-cover-author{
    display: flex;
    justify-content: space-between;
}

.delete-album-icon-container{
    display: flex;
    justify-content: end;
}

.delete-album-icon-container button{
/* TODO: styling */
}

/* Photo Tab */
.user-page-photo-container{
display: flex;
flex-flow: row wrap;
gap: 5px;
justify-content: center;
padding-top: 0;
}

.no-photos-comp-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.no-photos-comp-container button{
    font-family: 'Quicksand', sans-serif;
    background-color: #8000ff95;
    color: white;
    border-radius: 2px;
    padding: 5px;
    border: .5px solid grey;
    transition: background-color .2s;
    margin-top: 10px;
}
.no-photos-comp-container button:hover{
    cursor: pointer;
    /* color: black; */
    background-color: #8000FF;
    transition: background-color .2s;
    font-weight: bold;
}
.no-photos-comp-button{
    font-family: 'Quicksand', sans-serif;
    background-color: #8000ff95;
    color: white;
    border-radius: 2px;
    padding: 5px;
    border: .5px solid grey;
    transition: background-color .2s;
}

.no-photos-comp-button:hover{
    cursor: pointer;
    /* color: black; */
    background-color: #8000FF;
    transition: background-color .2s;
    font-weight: bold;
}
.no-albums-comp-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.no-albums-comp-container button{
    font-family: 'Quicksand', sans-serif;
    background-color: #8000ff95;
    color: white;
    border-radius: 2px;
    padding: 5px;
    border: .5px solid grey;
    transition: background-color .2s;
    margin-top: 10px;
}
.no-albums-comp-container button:hover{
    cursor: pointer;
    /* color: black; */
    background-color: #8000FF;
    transition: background-color .2s;
    font-weight: bold;
}
.no-albums-comp-button{
    font-family: 'Quicksand', sans-serif;
    background-color: #8000ff95;
    color: white;
    border-radius: 2px;
    padding: 5px;
    border: .5px solid grey;
    transition: background-color .2s;
}

.no-albums-comp-button:hover{
    cursor: pointer;
    /* color: black; */
    background-color: #8000FF;
    transition: background-color .2s;
    font-weight: bold;
}

.upload-photo-user-page-container button{
    font-family: 'Quicksand', sans-serif;
    background-color: #8000ff95;
    color: white;
    border-radius: 2px;
    padding: 5px;
    border: .5px solid grey;
    transition: background-color .2s;
    margin-top: 10px;
    margin-bottom: 15px;
}
.upload-photo-user-page-container button:hover{
    cursor: pointer;
    /* color: black; */
    background-color: #8000FF;
    transition: background-color .2s;
    font-weight: bold;
}

.user-page-photo-container img{
 height: 300px;
 width: fit-content;
 z-index: 0;

}

.upload-photo-user-page-container{
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
}

.photo-show-card{
    width: fit-content;
    margin: 0;
}
.photo-show-container{
    width: 95%;
    display: flex;
    flex-flow: wrap;
    gap: 5px;
    justify-content: center;
    height: 100%;
}
