.footer-container{
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: rgba(21,21,23,.95);
    width: 100%;
    height: 50px;
    z-index: 3;
    color: rgba(255, 255, 255, 0.567);
}

.footer-container:hover{
    color: white;
}

.footer-container a{
    color: white;
}

.fab.fa-linkedin, .fab.fa-github{
    font-size: 30px;
}

.fab.fa-linkedin{
    translate: -3px -5px;
}
.fab.fa-github:hover{
    color: red;

}
.fab.fa-linkedin:hover{
    color: #0A66C2;
}
.linked-in-background:hover{
    background-color: white;
    z-index: 0;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-content: center;
}
.huh{
    display: flex;
    align-content: center;
    width: 20px;
    height: 20px;
}

#contact-links{
    position: absolute;
    display: flex;
    margin-left: 80%;
    gap: 20px;
    align-items: center;
}
