/* TODO Add site wide styles */
p.errors{
    color: red;
}
body{
    margin: 0;
    height:100%;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(228, 228, 228);
}
html{
    height: 100%;
}
#root{
    height: 100%;
}
.profile-dropdown{
    position: absolute;
    background-color: white;
    border: .5px solid black;
    border-radius: 2px;
    translate: 0px 5px;
    list-style-type: none;
    padding: 6px;
    min-width: fit-content;
    width: 150px;
}

.hidden {
    display: none;
  }

form button{
    font-family: 'Quicksand', sans-serif;
    background-color: #8000ff95;
    color: white;
    border-radius: 2px;
    padding: 5px;
    border: .5px solid grey;
    transition: background-color .2s;

}
form button:hover{
    cursor: pointer;
    /* color: black; */
    background-color: #8000FF;
    transition: background-color .2s;
    font-weight: bold;


}
