/* TODO Add site wide styles */
p.errors{
    color: red;
}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(228, 228, 228);
}

.profile-dropdown{
    background-color: white;
    border: .5px solid black;
    border-radius: 2px;
    translate: 0px 10px;
    list-style-type: none;
    padding: 6px;
}
