.nav-container{
  display: flex;
  justify-content: space-around;
  gap: 225px;
  align-items: center;
  background-color: rgba(21,21,23,.95);
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.nav-spacing-div{
  height: 50px;
  position: sticky;
  z-index: 2;
}

#home{
  color: white;
  transition: color 1s
}
#logo-container{
  display: flex;
}

#logo-container:hover #cloud{
  transition: margin-top 1s;
  margin-top: 29px
}

#home:hover{
  cursor: pointer;
  color: rgb(208, 207, 207);
  transition: color 1s
}

#home-r{
  color: red;
}

#cloud{
  transition: margin-top 1s;
  margin-top: 32px;
  color: white;
  padding-left:10px;
  padding-right: 5px;
}

.profile-and-upload{
  display: flex;
  gap: 10px;
}


.profile-dropdown .fas {
  color: black;
  align-self:center;
}

.profile-dropdown ul{
  min-width: fit-content;
  width: 500px;
}
.profile-dropdown li{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 10px;
  color: rgb(16, 107, 199);

  gap: 5px;
}


.profile-dropdown li:hover{
  background-color: rgb(173, 173, 173);
  cursor: pointer;
}
.profile-dropdown li:hover .fas{
  display:inline;

}
#profile-dropdown-button{
  background-color: transparent;
  border: none;
}
#profile-dropdown-button:hover{
  cursor: pointer;
}
.fa-bars{
  scale: 1.5;
  color: white;
}
.fa-bars:hover{
  color: red;
}

#hello-li{
  color: black;
  border-bottom: 1px solid grey;
}
#hello-li:hover{
  color: black;
  background-color: white;
  cursor: default;
}

.fa-cloud-upload-alt, .fa-folder-plus, .fa-sign-out-alt{
  display: none;
}
