.feed-main-container{
    border: blue solid 1px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.content-card{
    border: red solid 1px;
    display: flex;
    flex-flow: column;
    width: 65%;
    height: 550px;
}

.content-card p {
    margin:2px;
}
#photo-caption {
    font-weight: bold;
    padding-top:10px;
}
.cc-poster-info{
    display: flex;
    justify-content: space-between;
    height: 50px;

}

#photo{
    align-self: center;
    max-width: 80%;
    max-height: 80%;
}

.description-and-comments{
    display: flex;
    justify-content: space-between;
}

#comments-button{
    align-self:flex-end;
    border: 1px solid green;
}
