.photo-form-container{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 75px;
}

.photo-form{
    display: flex;
    flex-flow: row;
    width: 30%;
    gap: 20px;
}
.photo-form-left-upper{
    display: flex;
    flex-flow: column;
    gap: 25px;
}
.photo-form button{
    margin-top: 50px;
}
.photo-form>div{
    display: flex;
    flex-flow: column;
}
.photo-form-left-side{
    height: 50%;
    background-color: whitesmoke;
    padding: 5px;
}
.photo-form-left-side>div{
    display: flex;
    flex-flow: column;
}
.upload-photo-input>input{
    display: none;
}

#photo-form-preview{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.photo-form-preview-container{
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: lightgrey;
    border-radius: 3px;

}

#hide-text{
    display: none;
}
.photo-form-preview-container:hover span{
    text-decoration: underline;
    cursor: pointer;
    color: #8000FF;
}
.photo-form-preview-text{
    position: absolute;
    align-self: center;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 20px;
    z-index: 0;



}


/* .photo-description{
    display: flex;
    flex-flow: column;
}


.post-photo-form-container{
    height: 100vh;
    display: flex;
    justify-content: center;

}
 .post-form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 150px;
    border: red 1px solid;
    padding-top: 120px;
    height: 400px;
    width: fit-content;
 }
.post-form-photo-details-inputs{
    height: fit-content;
}

.photo-form-image-section{
    display: flex;
    flex-flow: column;
    height: fit-content;

}

 .caption-label-input{
    display: flex;
    flex-flow: column;
    height: fit-content;
 } */
